@import './primevue.css';

:root {
  --default-font: 'Open Sans', sans-serif;
}

html,
body,
main,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--default-font);
  background-color: white;
}

.font-signature {
  font-family: 'Whisper', cursive;
}

.font-comic {
  font-family: 'Bangers', system-ui;
}
